.df_course-category{
    color: #fff;
    background: var(--background-cirlce-color);
    border-radius: 2px;
    text-decoration: none;
    transition: .2s ease;
}

.df_course-category:hover{
    color: #fff;
    background: var(--button-color);
}

.df_course-category:active{
    background: var(--button-color);
}

.df_img{
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.df_accordion-button:focus{
    box-shadow: 0 0 0 0 #f983657a;
}

.df_accordion-button:not(.collapsed){
    color: #fff;
    background: var(--button-color);
}

.df_accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.df_subject{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.df_commentary-card{
    background: var(--background-container-color);
    border-radius: 10px;
}

.df_user-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100px;
    object-fit:cover;
}

.df_rating, .df_general-rating{
    color: #fff;
    background: #ebc91e;
    border-radius: 10px;
}

.df_date{
    color: #d3d3d3
}

.df_course-container{
    background: var(--background-container-color);
    border-radius: 5px;
}

.df_total-price{
    font-size: 1.5em;
    font-weight: 600;
}

.df_suscribed-users{
    font-size: 1.2em;
}

.df_cheaper-price, .df_suscribed-users{
    font-weight: 600;
    color: #acacac
}

.df_price-container-sticky{
    background: var(--background-container-color);
    position: sticky;
    top: 20px;
    border-radius: 15px;
    
}

.df_total-price-sticky{
    font-size: 1.7em;
    font-weight: 700;
}

@media only screen and (min-width: 992px){
    .df_user-img{
        border-radius: 300px;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

@media only screen and (min-width: 1400px){
    
    .df_img{
        height: 400px;
    }
}