.create__folder-row-colInfo-level-h5D{
    margin: 18px 0px;
}

.create__folder-row-colInfo-level-h5D-h5{
    font-weight: bold;
    margin: 0px;
}

.create__folder-row-colInfo-level-h6D{
    text-align: left;
    margin: 18px 25px;
}

.create__folder-row-colInfo-level-h6{
font-size: 16px;
margin: 0px;
}

.create__folder-row-colInfo-level-h6D-text{
    margin-left: 10px;
    display: inline !important;
    max-width: 400px;

}

.create__folder-row-colInfo-level-DA-row{
    text-align: left;
}

.create__folder-row-colInfo-level-DA-row-colD{
    padding-left: 35px !important;
}

.create__folder-row-colInfo-level-DA-row-colD-h6{
    font-size: 16px;
}

.create__folder-row-colInfo-level-DA-row-colD-textarea{
    padding: 4px 10px !important;
    resize: none; 
    min-height: 84% !important;
}


.form-floating > .df_textarea{
    height: 100% !important;
    resize: none; 
}

@media only screen and (min-width:320px){
    .create__folder-row-colInfo-level-DA-row-colAL{
        margin: 12px 20px 0px 20px;
    }
}
@media only screen and (min-width:768px){
    .create__folder-row-colInfo-level-DA-row-colAL{
      margin: 12px 20px 0px 0px;
    }
}

.create__folder-row-colInfo-level-DA-row-colAL-h6{
    margin: 0px;
}

.create__folder-row-colInfo-level-DA-row-colAL-text{
    resize: none;
}

.create__folder-row-colInfo-level-DA-row-colAA{
    margin: 12px 20px 12px 0px;
}

.create__folder-row-colInfo-level-DA-row-colAA-h6{
    margin: 0px;
}

.create__folder-row-colInfo-colCampos-row-colD-textareaL{
    position: absolute;
}

.create__folder-row-colInfo-level-DA-row-colAV{
    margin: 12px 20px 12px 0px;
}

.create__folder-row-colInfo-level-DA-row-colAV-h6{
    margin: 0px;
}

/* .form-control:focus{
    border-color: #f98365 !important;
} */

input[type="file"]{
    background-color: #ebf9ff !important
}

.create__folder-row-colInfo-level-CA{
    margin: 0px 20px;
}

.create__folder-row-colInfo-level-CAC{
    display:flex;
    justify-content: center;
    margin: 0px;
}

.create__folder-row-colInfo-level-CAC-h6{
    font-weight: bolder;
    margin: 0px;
    color: #c33124;
    margin-top: 8px;
}

.create__folder-row-colInfo-level-CAC-text{
    max-width: 100px;
    margin-left: 10px;
}

.create__folder-row-colInfo-level-CAA{
margin: 4px 20px;
}

.create__folder-row-colInfo-level-CAA-h6{
    display: inline;
    font-weight: bold;
    color: #f98365;
}

.create__folder-row-colInfo-level-CAA-btn-img{
    max-width: 26px;
    margin-right: 10px;
}

.label__archivos{
    position: absolute;
}

.create__folder-submitD{
    margin: 30px 130px 0px 0px;
    text-align: right;
}

.create__folder-submitD-submit{
background-color: #f98365 !important;
padding: 8px 25px !important;
border: none !important;
}