.error{
    color: var(--error-text-color);
}

p.error{
    margin-top: 12px;
}

#formFile-error{
    text-align: center;
}

#formFileSchool-error{
    text-align: center;
}

#totalprice-error{
    text-align: center;
}

#price-error{
    text-align: center;
}

input.error, textarea.error, .tokenize > .tokens-container.error{
    border-bottom: 1.7px solid var(--background-cirlce-color);
    box-shadow: 0 0 10px .25rem #f98365b4;
}

input.error:hover, textarea.error:hover, .tokenize > .tokens-container.error:hover{
    border-bottom: 1.7px solid var(--background-cirlce-color);
    box-shadow: 0 0 10px .25rem #f98365b4;
}

input.error:focus, textarea.error:focus, .tokenize > .tokens-container.error:focus{
    color: var(--error-text-color);
    border-bottom: 1.7px solid var(--background-cirlce-color);
    box-shadow: 0 0 10px .25rem #f98365b4;
}