.df_title-row::after{
    content: '';
    border: 1px solid var(--button-color);
    width: 75%;
    margin-bottom: 10px;
}

.df_company{
    font-weight: 700;
}

.df_categoryTitle{
    font-size: 2em;
    font-weight: 600;
}

.df_motto{
    font-weight: 600;
}

@media only screen and (min-width: 998px){
    .df_motto{
        font-size: 1.3em;
    }
}