:root{
    --background-color: #fbeda4;
    --background-container-color: #ffffff;
    --background-shadow-color: #e3d191;
    --button-text-color: #ffffff;
    --button-color: #f98365;
    --button-shadow-color: #e5a18e;
    --text-color: #000000;
    --text-secondary-color: #797979;
    --background-cirlce-color: #c33124;
    --background-light-blue: #e5f6fe;
    --error-text-color: #DC3545;
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

.df_img{
    border-radius: 5px;
}

.df_title{
    font-size: 2em;
    font-weight: 700;
}

.df_subtitle{
    font-size: 1.7em;
    font-weight: 600;
}

.df_caption{
    font-weight: 700;
    color: var(--text-secondary-color);
}

.df_text{
    font-weight: 700;
    color: var(--text-color);
}

.df_btn{
    color: var(--button-text-color);
    box-shadow: 3px 3px var(--button-shadow-color);
    background: var(--button-color);
    transition: .2s ease;
}

.df_btn:active{
    background: var(--button-shadow-color);
    color: var(--button-text-color);

}

.df_btn:focus{
    box-shadow: 3px 3px var(--button-shadow-color);
}

.df_btn:hover{
    color: var(--button-text-color);
}

.df_btn-erase{
    background: var(--background-cirlce-color);
    box-shadow: 3px 3px #91241a;
}

.df_btn-erase:focus{
    box-shadow: 3px 3px #91241a;
}

.df_btn-erase:active{
    background:#91241a;
}

.df_icon{
    font-size: 2em;
}

.df_overflow-wrap{
    overflow-wrap: anywhere;
}

.df_checkbox{
    transition: .2s ease;
}

.df_checkbox:checked{
    background-color: var(--button-color);
    border-color: var(--button-color);
    /* box-shadow: 0 0 0 .25rem #f983657a; */
}

.df_checkbox:focus{
    box-shadow: 0 0 0 .25rem #f983657a;
}

footer{
    background: var(--background-container-color);
}

.df_link{
    cursor: pointer;
    color: var(--button-color);
}

.df_link:hover{
    color: var(--button-color);
}

.df_file{
    text-decoration: none;
}

.df_input, .df_select, .df_textarea, .tokens-container{
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1.7px solid #b4b4b4;
}

.df_input[type="number"]::-webkit-inner-spin-button,
.df_input[type="number"]::-webkit-outer-spin-button{
    appearance: none;
}

.form-floating > .df_textarea{
    height: 150px !important;
}

.df_input:hover, .df_select:hover, .df_textarea:hover, .tokens-container:hover{
    border-bottom: 1.7px solid #fde04d;
    box-shadow: 0 0 10px .25rem #ffdb27d0;
}

.df_input:focus, .df_select:focus, .df_textarea:focus, .tokens-container:focus, .tokenize.focus > .tokens-container{
    background: none;
    border: none;
    border-bottom: 1.7px solid #fde04d;
    border-radius: 3px;
    box-shadow: 0 0 10px .25rem #ffdb27d0;
}
