.nav-link.active{
    padding: 0px;
}

.navbar__logo{
    max-width: 150px;
}

.navbar__userImg{
    max-width: 40px;
    border-radius: 30px;
    padding: 0px;
}

.nav-item{
    display: flex;
    align-items: center;
}

.navbar__iconsPages{
    max-width: 45px;
    padding: 0px 4px;
}

.navbar__iconsPages:hover{
    opacity: 0.75;
}


/* .navbar-collapse{
    flex-grow: 0 !important;
} */

.form-control:focus{
    border-color: #f98365 !important;
}


/* .d-flex{
margin: 0px 20px;
} */