.df_profile-container{
    background: var(--background-container-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.df_img-container{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.df_img-profile{
    width: 150px;
    height: 150px;
    border-radius: 300px;
    object-fit: cover;
}

.df_overlay{
    width: 150px;
    height: 150px;
    background: #f9836560;
    border-radius: 300px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.df_overlay:hover{
    opacity: 1;
}

.df_file-label{
    border-radius: 10px;
    cursor: pointer;
}

.df_title{
    font-size: 3em;
    font-weight: 600;
}

.df_nav-tabs{
    border-bottom: 1px solid #fff;
}

.df_nav-tabs .df_nav-link{
    color: var(--button-color);
}

.df_nav-tabs .df_nav-link:hover{
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
}

.df_nav-tabs .df_nav-link.active{
    border: 1px solid #fff;
}

.df_nav-tabs .df_nav-link.active:hover{
    background-color: #fff;
}

@media only screen and (min-width: 768px){
    .df_profile-container{
        box-shadow: 25px 25px 1px var(--background-shadow-color);
    }
    
}


@media only screen and (min-width: 768px){
    .df_img-container{
        width: 175px;
        height: 175px;
    }

    .df_overlay{
        width: 175px;
        height: 175px;
    }

    .df_img-profile{
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 992px){
    .df_img-container{
        width: 200px;
        height: 200px;
    }

    .df_overlay{
        width: 200px;
        height: 200px;
    }

    .df_img-profile{
        width: 200px;
        height: 200px;
    }
}