.df_course-container{
    background: var(--background-container-color);
    border-radius: 15px;
}

/* .df_totalPrice-wrapper::before{
    content: '';
    display: block;
    border-bottom: 2px solid var(--button-color);
    margin: 0px 0px 10px 0;
} */

.df_img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.df_coursePrice-container{
    background: var(--background-container-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.df_totalPrice-container{
    background: var(--background-container-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.df_levels-container{
    background: var(--background-shadow-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media only screen and (min-width: 998px){
    .df_text{
        font-size: 1.2em;
    }

    .df_caption{
        font-size: 1.1em;
    }

    .df_btn{
        font-size: 1.4em;
    }

    .df_checkbox{
        width: 20px;
        height: 20px;
    }
    
    .df_title, .df_icon{
        font-size: 2em;
    }
}

