.df_titleDesc-container,
.df_link-container, 
.df_file-container{
    background: var(--background-container-color);
    border-radius: 10px;
}

.df_course-content{
    background: var(--background-container-color);
}

.df_content-title{
    background: var(--background-container-color);
}

.df_link-level{
    background: var(--background-light-blue);
    border: 2px solid #fff;
    text-decoration: none;
    transition: .2s ease;
}

.df_link-level:hover{
    color: #fff;
    background: var(--button-color);
}

.df_file{
    font-size: 1.1em;
}

.df_icon{
    font-size: 1.3em;
}

.df_content-title{
    font-size: 1.3em;
    font-weight: 600;
}

.df_content-title:focus{
    box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}

.df_img-course{

    object-fit: contain;
    width: 300px;
    height: 300px;
}
