/* html{
    height: 100% !important;
} */

/* body{
    height: 100% !important;
} */
/* 
main{
    height: 100% !important;
} */
/* 
.chat{
    height: 100% !important;
} */

/* .chat__row{
height: 100% !important;
} */

body{
    background: #fff;
}

.chat__row{
    min-height: 88.5vh;
}


.chat__row-colM{
    padding: 0px !important;
    border-right: 3px #e3d191 solid;
}

.chat__row-colM-mensaje{
    background-color: #fbeda4;
}

.chat__row-colM-mensaje-img{
    margin-left: 22%;
    padding: 5px 0px;
}

.chat__row-colM-mensaje-h3{
color: #f98365;
font-weight: bolder;
padding: 7px 18px;
margin: 0px;
}


.chat__row-colM-busqueda-input{
/* max-width: 98%; */
margin-left: 2px !important;
border-radius: 12px !important;
border-color: #f98365 !important;
}

.chat__row-colM-busqueda-input::placeholder{
    text-align: center;
    color: #f98365 !important;
    font-weight: bolder;
}

.chat__row-colM-busqueda{
    text-align: center;
    margin: 6px 10px;
}

.chat__row-colM-e{
    overflow: hidden;
    overflow-y: scroll;
}

.chat__row-colM-entrada-users{
    padding: 6px 0px;
}

.chat__row-colM-entrada-users-col-name{
padding-top: 10px;
}

.chat__row-colM-entrada-users-col-img{
    text-align: center;
}

.chat__row-colM-entrada-users-img{
    /* max-width: 50px; */
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.vivian_a{
    color: #000000 !important;
    text-decoration:none !important;
}

/* a {
    color: #000000 !important;
    text-decoration:none !important;
} */

.chat__row-colM-entrada-users-h5{
    margin: 0px;   
}

.chat__row-colM-entrada{
    background-color: #e5f6fe;
    border-bottom: 2px #cfe0e8 solid;
}

.chat__row-colM-entrada-users-col-name{
    display: flex;
    align-items: center;
}

.chat__row-colC{
    padding:0px !important;
}


.chat__row-colC-chat{
    background-color: #fbeda4;
    margin: 0px !important;
}

.chat__row-colC-User3{
    display: flex;
    align-items: center;
    padding: 0px;
}

.chat__row-colC-User9{
font-weight: bolder;
padding: 2px 0px;
margin: 0px;
    
}

.chat__row-colC-User-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}

.chat__row-colC-User-name{
    color: #000000;
    padding: 5px 15px;
    margin: 0px;
    display: inline-block;
}

/* .chat__row-colC-all{
    height: 93%;
} */

.chat__row-colC-conversacion{
    margin: 0px;
    /* height: 100%; */
    overflow: hidden;
    overflow-y: scroll;
}

.message{
    padding: 0px 0px;
}

.Chat__send{
    max-width: 25px !important;
}

.space{
    border-color: #f98365 !important;
    border-radius: 15px !important;
    margin: 5px 0px;
}

.chat__row-colC-write{
    background-color: #fbeda4;
    padding: 0px 30px;
}

.chat__row-colC-conversacion-UserB{
    margin: 5px 5px;
}

.chat__row-colC-conversacion-UserB-row{
    margin: 0px !important;
}

.chat__row-colC-conversacion-UserB-colI{
    padding: 0px;
    text-align: right;
    align-self: flex-end;
}

.chat__row-colC-conversacion-UserB-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.chat__row-colC-conversacion-UserB-img2{
    max-width: 30px;
    border-radius: 50%;
}

.chat__row-colC-conversacion-UserB-colC{
    background-color: #cfe0e8;
    margin: 10px 0px 0px 0px !important;
    padding: 5px 0px;
    border-radius: 10px 10px  10px 0px;
}

.chat__row-colC-conversacion-UserB-h6{
    margin: 0px;
    font-size: 14px;
}



.chat__row-colC-conversacion-UserA{
    margin: 5px 5px;
}

.chat__row-colC-conversacion-UserA-row{
    margin: 0px !important;
}

.chat__row-colC-conversacion-UserA-colI{
    padding: 0px;
    text-align: right;
    align-self: flex-end;
}

.chat__row-colC-conversacion-UserA-img{
    width: 45px;
    height: 45px;
    object-fit: cover;  
    border-radius: 50%;
}

.chat__row-colC-conversacion-UserA-img2{
    width: 30px;
    border-radius: 50%;
}

.chat__row-colC-conversacion-UserA-colC{
    background-color: #e3d191;
    margin: 10px 0px 0px 0px !important;
    padding: 5px 0px;
    border-radius: 10px 10px  0px 10px;
    
    position: relative;
    vertical-align: middle;
}

.chat__row-colC-conversacion-UserA-h6{
    margin: 0px;
    font-size: 14px;
}
