/* 
body{
    background-color: #fbeda4 !important;
} */

/* .create{
    text-align: center !important;
    padding: 20px 80px 20px 100px !important;
} */

.create__h3{
font-weight: bold;
color: #f98365 !important;
margin-bottom: 23px;
}

.create__folder-row-colInfo{
    background-color: #ffffff;
    padding-bottom: 10px;
}

.create__folder-row-colC{
    padding: 0px !important;
    max-width: 60px !important;
}

.create__folder-row-colC-white{
    background-color: #ffffff;
    padding: 10px 0px;
    margin-bottom: 5px;
    border-radius: 8px 0px 0px 8px;
    border-bottom: 4px #e3d191 solid;
}

.create__folder-row-colC-lightBlue{
    background-color: #e5f6fe;
    padding: 10px 0px;
    border-radius: 8px 0px 0px 8px;
    border-bottom: 4px #e3d191 solid;
}

.create__folder-row-colInfo{
    border-radius: 0px 20px 20px 20px;
    border-bottom: 8px #e3d191 solid;
}

.create__folder-row-colInfo-h5D{
    padding: 18px 0px 12px 0px !important;
}

.create__folder-row-colInfo-h5D-h5{
    font-weight: bold;
}

/* 
.create__folder-row-colInfo-colCampos-row-colIC-imgD{
    margin-bottom: 30px;
} */

.df_course-img{
    position: relative;
}

.df_img-course{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.df_img-container{
    height: 200px;
    background: var(--background-light-blue);
    border-radius: 15px;
}

.df_overlay{
    height: 200px;
    width: 100%;
    background: #f9836560;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}


.df_overlay:hover{
    opacity: 1;
}

.df_file-label{
    border-radius: 10px;
    cursor: pointer;
}

/* .create__folder-row-colInfo-colCampos-row-colIC-imgD-img:hover{
    opacity: 0.8;
} */

/* .create__folder-row-colInfo-colCampos-row-colIC-imgD-img{
    background-color: #e5a18e;
    margin: 0px 55px;
    padding: 50px 0px;
    border-radius: 15px;
} */


.inputFile{
    max-width: 100%;
    max-height: 100%;
    color: #ffffff !important;
    
}

/* .create__folder-row-colInfo-colCampos-row-colIC-ctg{
    margin: 18px 40px 0px 40px;
    text-align: center;
} */

.create__folder-row-colInfo-colCampos-row-colIC-ctg-h6{
    text-align: left;
}


.create__folder-row-colInfo-colCampos-row-colIC-btn{
    display: block;
    margin: 10px 0px;
    float: right;
    border-color:#cfe0e8 !important;
    border-radius: 8px !important;
}

/* .form-select{
    max-width: 180px;
    border: 1px solid #f98365 !important;
    border-radius: 8px !important;
} */


.create__folder-row-colInfo-colCampos-row-colIC-ctg-Cmb{
    padding: 0px 10px !important;
}

.create__folder-row-colInfo-colCampos-row-colDts{
    text-align: left;
    padding-bottom: 12px;
    padding-right: 35px !important;
}

.create__folder-row-colInfo-colCampos-row-colDts-titulo{
    margin-bottom: 8px;
}

.create__folder-row-colInfo-colCampos-row-colDts-title-h6{
    margin-bottom: 0px;
}

.create__folder-row-colInfo-colCampos-row-colDts-title-text{
    margin-bottom: 15px;
}

.create__folder-row-colInfo-colCampos-row-colDts-Description-h6{
margin: 0px;
}


.create__folder-row-colInfo-colCampos-row-colDts-Description-textA{
    margin-bottom: 15px !important;
    padding: 4px 10px !important;
}

.create__folder-row-colInfo-colCampos-row-colDts-costo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create__folder-row-colInfo-colCampos-row-colDts-costo-h6{
    display: inline;
    font-size: 17px;
    font-weight: bold;
    color: #c33124;
    margin: 0px;
    
}

.create__folder-row-colInfo-colCampos-row-colDts-costo-btn{
    max-width: 120px;
    margin-left: 8px;
}

/* .form-control:focus{
    border-color: #cfe0e8 !important;
} */

.create__folder-row-colC-white{
    color: #000000;
}

.create__folder-row-colC-lightBlue{
    color:#797979;
}

a{
    text-decoration: none !important; 
}

/* .form-control:focus{
    border-color: #f98365 !important;
} */

.submitCurso{
    position: absolute;
}

.label__nameC{
    position: absolute;
}

.placeholder{
    background-color: #fff;
    opacity: 1;
    cursor: text;
}