.body{
    background-color: #fbeda4;
}

.details{
text-align:left;
padding: 20px 50px 35px 50px !important;
}

.details__divDetails{
    margin: 10px 0px 20px 0px;
}

.details__divDetails-h3{
    font-weight: bold;
    color: #f98365;
}

.details__divEstudisnte-img{
    max-width: 40px;
}

.details__divEstudiante-row{
margin-left: 30px !important;
}

.details__divEstudiante-row-col{
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
}

.details__divEstudiante-row-col-mum{
    padding-top: 17px ;
    padding-left: 20px;
}

.details__divEstudiante-h6{
font-size: 17px;
}

.details__divLista-h{
    text-align: left;
}


@media only screen and (min-width: 320px){
    .details__divLista-h6{
        font-size: 11px;
        white-space: nowrap;
    }
}
@media only screen and (min-width: 768px){
.details__divLista-h6{
    font-size: 17px;
    white-space: nowrap;
}
}


.details__divEstudiante-h6{
    font-weight: bold;
}


.details__divLista{
    margin: 20px 0px;
    padding: 0px 150px 0px 0px !important;
    text-align: center;
    overflow-x: auto;
}

@media only screen and (min-width: 320px){
    .details__divLista-table{
        margin: 20px 30px 16px 0px !important;
        background-color: #e5f6fe;
        border-radius: 15px;
        font-size: 10px;
    }
    
}

@media only screen and (min-width: 768px){
    .details__divLista-table{
        margin: 20px 30px 16px 65px !important;
        background-color: #e5f6fe;
        border-radius: 15px;
        font-size: 16px;
    }
    
}

.details__divLista-table-tbody {
    background-color: #ffff !important;
    border-color: #e3d191;
}


.scope__r{
    padding: 3px 8px !important;
}


.details__divLista-table-tbody-img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
