.body{
    background-color: #fbeda4;
}

.containerF{
text-align: center;
padding: 15px 0px 35px 0px;
}

.containerF__h3{
    margin: 10px 0px;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source:linear-gradient(to left,#fbeda4 0,#fbeda4 27.3%,
    #f98365 33.3%,#f98365 65.6%,#fbeda4 73%,#fbeda4 10.3% );
}

.containerF__h3-Welcome{
    font-weight: bold;
    margin: 0px;
}

.containerF__img{
    margin: 30px 0px;
    /* background: linear-gradient(to left,#fbeda4 0,#fbeda4 10000,
    #ffff 33.3%,#ffff 65.6%,#fbeda4 73%,#fbeda4 10.3% ); */
}

.containerF__img-img{
    max-width: 469px;
    border-radius: 30px;
}

.containerF__btns-crear{
    margin-right: 60px;
    padding: 5px 25px !important;
}

.containerF__btns-ver{
    margin-left: 60px;
    padding: 5px 25px !important;
}