/* .center_fanther{
    display: flex;
    align-items: center;
} */


.Presentacion{
    background-color: #f98365;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.presentacion{
    background-color: #f98365;
} 

body{
    background: #fff;
}


.Presentacion__letra{
    text-align:left;
    font-size: 17px;
    color: #ffff;  
    padding-left:  40px !important;
    padding-right:  40px !important;
}
@media only screen and (min-width:768px){
    .Presentacion__letra{
        padding-left:130px;
        padding-right:  130px;
    }
}

.Presentacion__letra-h3-learn{
    font-weight: bold;
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 0px;
    
}

.Presentacion__letra-h3-Click{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 32px;
}


.Presentacion__btn{
    font-weight: bold !important;
    color: #ffff !important;
    background: #c33124 !important;
}

/* .Presentacion__image-Atlantic{
    max-width: 97%;
    height: auto;
} */

.aling{
    text-align: center;
    margin: 90px;
}

.categorias__letra{
    margin-bottom: 20px;
}

.categorias__letra-h3{
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



.categorias__btn-item{
    font-size: 22px !important;
    font-weight: bold !important;
    background: #a1dffb !important;
    margin-bottom: 10px;
}

.frases{
padding: 0px 40px !important;
}

@media only screen and (min-width: 320px){
.frases__p{
    padding: 0px 15px !important;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source:linear-gradient(to left,#ffff 0,#ffff 33.3%,
    #f9de59 33.3%,#f9de59 66.6%,#ffff 0,#ffff 33.3% );
}
}
@media only screen and (min-width: 768px){
    .frases__p{
        padding: 0px 40px;
    }
}

.Video{
    text-align: center;
    background-color: #fbeda4;
    padding: 30px 20px !important;
    margin-bottom: 0px;
}

.VideoP{
    text-align: center;
    background-color: #ffff;
    padding: 30px 20px !important;
    margin-bottom: 50px;

}

.video__item{
/* background-color: #ffff;
padding: 10px;*/
border-radius: 10px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Video__p{
    margin-bottom: 30px;
    margin: 40px;
}

.Video__p-h3{
    font-weight: bold;
    margin-bottom: 0px;
}

.video__item-img-card{
border-radius: 10px 10px 0px 0px;
max-height: 200px;
object-fit:cover;
}


.video__item-descripcion{
    background-color: #ffff;
border-radius: 0px 0px 10px 10px;
}

.video__item-descripcionP{
    background-color: #e5f6fe;
border-radius: 0px 0px 10px 10px;
}

.video__item-descripcion-titulo{
    margin-bottom: 0px;
    padding: 6px 8px;
    font-weight: 700;
}

.video__item-descripcion-NombreA{
    text-align: left;
    font-size: 15px;
    padding-left: 12px;
    color: rgb(77, 77, 77) !important;
    padding-bottom: 13px;
}
