.df_login-container{
    background: var(--background-container-color);
    border-radius: 10px;
}

.df_welcome-container::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75%;
    border-bottom: 3px solid var(--background-color);
}

.df_circle{
    height: 30px;
}


.df_login-img{
    width: 75%;
}

@media only screen and (min-width: 768px){
    .df_login-container{
        box-shadow: 25px 25px 1px var(--background-shadow-color);
    }
    
}

@media only screen and (min-width: 992px){
    .df_welcome-container::after{
    width: 25%;
    }
}

@media only screen and (min-width: 1400px){
    .df_login-img{
        height: 100%;
    }
}