.progress {
    border-radius: 0px !important;
    max-height: 8px !important;
}

.resultados__cursos-row-col-card-img-opacity:hover .resultados__cursos-row-col-card-img {
    opacity: 0.3;
}

.resultados__cursos-row-col-card-img-opacity:hover .middle {
    opacity: 1;
}

.resultados__cursos-row-col-card-img {
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
}

.text {
    background-color: #f98365;
    color: white;
    font-size: 16px;
    padding: 1px 6px;
    border-radius: 7px;
}

.progress-bar{
    background-color:#f98365 !important;
}