.nav-link.active{
    padding: 0px;
}

.navbar__logo{
    max-width: 150px;
}

.navbar__userImg{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: cover;
    padding: 0px;
}

.df_icon-door{
    font-size: 1.5em;
}

.nav-item{
    display: flex;
    align-items: center;
}

.navbar__iconsPages{
    max-width: 45px;
    padding: 0px 4px;
}

.navbar__iconsPages:hover{
    opacity: 0.75;
}