.body{
    background-color: #fbeda4;
}

.resultados{
    padding: 0px 45px !important;
    margin-bottom: 30px;
}

.center_fanther{
    display: flex;
    align-items: center;
}

.resultados__h3 {
    margin: 40px 0px 0px 0px;
    font-weight: bold;
}

.resultados__h3-span{
    color: #f98365;
}

.resultados__forms-filtar {
    text-align: right;
}

#hide{
    display: none;
}

#fechaRe, .df_input-busqueda{
    text-align: center;
    color: #f98365;
    font-size: 13px;
    font-weight: bold;
    border:1px solid #e3d191;
    border-radius: 8px;
    background:#e3d191;
    padding:2px 4px;
}


#FiltroSubmit{
    font-size: 12px;
    margin-left: 5px;
    padding: 3px 6px;
}

.resultados__forms-filtrar-fecha {
    text-align: right;
}

.resultados__forms-filtrar-btn1 {
    padding-right: 0px !important;
}


.resultados__forms-filtrar-btn-img {
    max-width: 20px;
}

.resultados__forms-filtrar-btn-h5 {
    display: inline;
    vertical-align:bottom;
}

.resultados__cursos-row-col-card-body{
    padding: 10px 6px !important;
    background-color: #e5f6fe;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.resultados__cursos{
    margin: 30px 30px 20px 0px;
    text-align: center;
}

.resultados__cursos-row-col{
    padding: 12px 12px !important;
}

.resultados__cursos-row-col-card-img {
    border-radius: 10px 10px 0px 0px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.resultados__cursos-row-col-card{
border-width: 0px !important;
border-radius: 10px !important;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultados__cursos-row-col-card-body-Titulo{
font-weight: bold;
}

.resultados__cursos-row-col-card-body-NameA{
    font-weight: bolder;
    font-size: 13px;
    padding-left: 5px;
    color: rgb(77, 77, 77) !important;
}


.resultados__cursos-row-col-card-body-Precio{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #c33124 !important;
    margin: 0px;
}

.resultados__cursos-row-col-card-body-imgStart{
    max-height: 20px;
    padding-bottom: 3px;
    padding-right: 3px;
}

.resultados__cursos-row-col-row-col{
    padding: 0px 0px 0px 24px !important;
}

.resultados__cursos-row-col-row-col2{
    padding: 0px 0px 0px 60px !important;
    }


    /* FABIC MIS CURSOS */


.fabric{
    color: #f98365;
}

.resultados__cursos-row-col-card-body-ventas{
text-align: left;
padding-left: 12px;
font-weight: bold;
font-size: 13px;
display: inline;
}

.money{
    color: #c33124;
}

.resultados__total{
    text-align: center;
    margin: 20px 0px 0px 0px !important;
}

.resultados__total-h5{
    font-weight: bold;
}

.resultados__cursos{
    text-align: left;
    padding: 0px;
    margin: 6px 0px 20px 0px;
}

.resultados__cursos-row-col-card-body-colA{
    text-align: right;
}

.resultados__cursos-row-col-card-body-colA-img{
    max-width: 22px;
    padding: 0px;
}