.df_course-container{
    background: var(--background-container-color);
    border-radius: 15px;
    height: fit-content;
}

.paypal-button-container{
    display: none;
    text-align: center;
}

.cardpayment-container{
    display: none;
}

.df_btn-payment{
    display: none;
    border-radius: 300px;
}

.df_img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.df_coursePrice-container{
    background: var(--background-container-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.df_totalPrice-container{
    background: var(--background-container-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.df_levels-container{
    background: var(--background-shadow-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sweet-modal-overlay{
    z-index: 30000;
}

@media only screen and (min-width: 998px){
    .df_text{
        font-size: 1.2em;
    }

    .df_caption{
        font-size: 1.1em;
    }

    .df_btn{
        font-size: 1.4em;
    }

    .df_checkbox{
        width: 20px;
        height: 20px;
    }
    
    .df_title, .df_icon{
        font-size: 2em;
    }
}

