.df_signup-container{
    position: relative;
    background: var(--background-container-color);
    border-radius: 10px;
}

.df_circle-signup{
    width: 30px;
    height: 30px;
}


.df_welcome-container::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75%;
    border-bottom: 3px solid var(--background-color);
}


.df_circle-container{
    position: absolute;
    top: -15px;
    left: 0;
}


.df_img-container{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.df_img-signup{
    width: 150px;
    height: 150px;
    border-radius: 300px;
    object-fit: cover;
}

.df_overlay{
    width: 150px;
    height: 150px;
    background: #f9836560;
    border-radius: 300px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.df_overlay:hover{
    opacity: 1;
}

.df_file-label{
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
    .df_signup-container{
        box-shadow: 25px 25px 1px var(--background-shadow-color);
    }
    .df_img-container{
        width: 175px;
        height: 175px;
    }

    .df_overlay{
        width: 175px;
        height: 175px;
    }

    .df_img-signup{
        width: 175px;
        height: 175px;
    }
    
}

@media only screen and (min-width: 992px){
    .df_img-container{
        width: 200px;
        height: 200px;
    }

    .df_overlay{
        width: 200px;
        height: 200px;
    }

    .df_img-signup{
        width: 200px;
        height: 200px;
    }
}